.btnlogin {
  cursor: pointer;
  border-radius: 20px;
  color: white;
  font-size: 25px;
  font-weight: 800;
  border: 0.1px solid #67afef;
  background: #3a91bc;
  padding: 15px;
  width: 100%;
  &:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}
.logout {
  color: red;
  text-decoration: none;
}
.service {
  cursor: pointer;
  margin-left: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 0.1px solid black;
  background: rgb(255, 255, 255);
  color: black;
  font-weight: 800;
}

.activeHome {
  background: black;
  color: white;
  border: 0.1px solid black;
}
.btnmenu {
  text-decoration: none;
}